.movies {
  padding: 70px 70px 10px;
}

.movie-list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
}

@media screen and (max-width:899px) {
  .movies {
    padding: 70px 30px 30px;
  }

  .movie-list {
    column-gap: 24px;
    row-gap: 35px;
    grid-template-columns: repeat(auto-fill, 342px);
  }
}

@media screen and (max-width:640px) {
  .movies {
    padding: 40px 10px 30px;
  }

  .movie-list {
    row-gap: 16px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}