.movies-content__button {
  display: flex;
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #202020;
  color: #fff;
  border: 1px solid #424242;
  border-radius: 5px;
  cursor: pointer;
}

.movies-content__message {
  color: #fff;
  text-align: center;
}

@media screen and (max-width:640px) {
  .movies-content__button {
    width: 240px;
    height: 36px;
  }
}