.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  color: #8b8b8b;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  mix-blend-mode: normal;
  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__list-item {
  margin-bottom: 20px;
  padding-bottom: 19px;
  background-image: url('../../images/portfolio-icon.svg');
  background-repeat: no-repeat;
  background-position: bottom 30px right 5px;
  border-bottom: 1px solid #424242;
}

.portfolio__list-item:last-of-type {
  border-bottom: none;
  padding: 0;
  margin: 0;
  background-position: bottom 15px right 5px;
}

.portfolio__link {
  font-size: 30px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;

}

@media (max-width:799px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__list {
    font-size: 28px;
  }
}

@media (max-width: 599px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .portfolio__list-item {
    background-size: 12px 12px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}