.search {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  padding: 80px 70px 0px;
}

.search__form {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  width: 100%;
  border-bottom: 1px solid #424242;
}

.search__input-block {
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  width: 100%;
  margin: 0 auto;
}

.search__input {
  width: 100%;
  height: 46px;
  padding: 0 0 0 22px;
  border: none;
  border-radius: 4px;
  background-color: #2f2f2f;
  color: #fff;
  outline: none;
  font-size: 14px;
  line-height: 18px;
}

.search__input::placeholder {
  color: #8b8b8b;
}

.search__button {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 70px;
  height: 44px;
  padding: 0;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4285F4;
  cursor: pointer;
  transition: linear 0.2s;
}

.search__button:hover {
  opacity: 0.7;
}

.search__checkbox-block {
  display: flex;
  margin: 30px 0 40px;
}

.search__checkbox {
  position: relative;
}

.search__checkbox-label {
  display: block;
  margin: 0 0 0 12px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

@media screen and (max-width: 799px) {
  .search {
    padding: 80px 30px 0px;
  }
}

@media screen and (max-width: 399px) {
  .search {
    padding: 80px 14px 0;
  }

  .search__input {
    font-size: 12x;
    padding-left: 16px;
  }

  .search__checkbox-block {
    margin: 44px 0;
  }

  .search__checkbox-label {
    margin-left: 13px;
    font-size: 11px;
  }
}