.register {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  margin: auto;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 40px 0 40px;
}

.register__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 124px;
  color: #fff;
}

.register__form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
  margin-bottom: 2px;
}

.register__form-inputs:not(:first-of-type) {
  margin-top: 8px;
}

.register__form-input {
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 5px;
}

.register__form-input-field {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #202020;
  border: none;
}

.register__form-input-field::placeholder {
  color: #fff;
}

.register__input-error {
  color: #EE3465;
  font-size: 10px;
  line-height: 12px;
  /* visibility: hidden; */
}

.visible {
  visibility: visible;
}

.register__form-input_invalid::placeholder {
  color: #EE3465;
}

.register__button_signup {
  color: #fff;
  width: 396px;
  height: 45px;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: #4285F4;
  cursor: pointer;
}

.register__button_disabled {
  pointer-events: none;
  cursor: default;
  background-color: gray;
}

.register__question {
  text-align: center;
  color: #8B8B8B;
  font-size: 14px;
  line-height: 17px;
}

.register__link {
  color: #4285F4;
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .register {
    padding-top: 232px;
  }
}

@media screen and (max-width:456px) {
  .register {
    padding-top: 56px;
    align-items: center;
    max-width: 260px;
  }

  .register__title {
    margin: 50px 0 80px;
  }

  .register__fieldset {
    margin-bottom: 222px;
  }

  .register__button_signup {
    width: 260px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}