.about-me {
  padding: 110px 70px 100px;
  color: #fff;
}

.about-me__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #fff;
  border-bottom: 1px solid #DADADA;
  margin: 0 0 66px 0;
  padding-bottom: 23px;
}

.about-me__content {
  display: flex;
  justify-content: space-between;
}

.about-me__info {
  width: calc((600 / (1280 - 70*2)) * 100%);
  margin-right: 20px;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}

.about-me__occupation {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
  margin: 18px 0 26px;
}

.about-me__bio {
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  margin: 0 0 100px;
}

.about-me__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-me__list-item {
  margin: 0 20px 0 0;
}

.about-me__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  object-fit: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  
}

@media (max-width: 799px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__occupation {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__bio {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width:599px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__info {
    width: 100%;
    margin-right: 0;
  }

  .about-me__content {
    flex-direction: column-reverse;
    place-items: center;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin-bottom: 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__occupation {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0;
  }

  .about-me__bio {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}